<html>
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}"/>
  <title>Sign in</title>
</head>

<body background="{% static 'bg.jpg' %}">
    <div class="main">
        {% if messages %}
            {% for message in messages %}
            <div>
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    <p class="sign" align="center">Sign in</p>
    <!-- <form class="form1" action=# method="post">
        {% csrf_token %}
        <input class="un " type="text" align="center" name="Email" placeholder="Email">
        <input class="pass" type="password" align="center" name="Password" placeholder="Password">
        <input type="submit" class="submit" align="center">
    </form> -->
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% load widget_tweaks %}
        {% render_field form.username class+="un" placeholder=form.username.label %}
        {% render_field form.password class+="pass" placeholder=form.password.label %}
            {% if form.errors %}
                <p class=" label label-danger">
                    <p style="color:red;size: 20" align="center">Incorrect Username or Passowrd. Try again.</p>
                </p>
            {% endif %}
        <input type="submit" class="submit" align="center" value="Sign In">

    </form>
    <br>
        <a class="signup" href ="{% url 'password_reset' %}">Forgot Password?</a>
        <a class="signup" href ='{% url 'register' %}'>Not a member?</a>
    </div>

</body>

</html>
