<html>
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'users/p_reset.css' %}"/>
  <title>Sign in</title>
</head>

<body background="{% static 'bg.jpg' %}">
    <div class="main">

    <p class="sign" align="center">Password Reset</p>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% load widget_tweaks %}
        {% render_field form.email class+="un" placeholder=form.email.label %}
            {% if form.errors %}
                <p class=" label label-danger">
                    <p style="color:red;size: 20" align="center">Incorrect Username or Passowrd. Try again.</p>
                </p>
            {% endif %}
        <input type="submit" class="submit" align="center" value="Submit">

    </form>

    </div>

</body>

</html>
